@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #676afc;
	color: #030e12;
	line-height: 1.6;
  text-align: left;
}

h1, h2, h3, h4 {
	text-align: center;
	color: #333333;
	font-family: 'Archivo', sans-serif;
}

h3 {
  font-size: 24px;

}

p {
	color: #5a5a70;
}

label {
	color: #5a5a70;
	font-size: 16px;
}


input[type=text], input[type=password], select {
    /* margin-bottom: 12px; */
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  button, input[type=submit] {
    text-transform: uppercase;
    width: 100%;
    background-color: #676afc;
    font-weight: 600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;    
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  button, input[type=submit]:hover {
    background-color: #4b4dd1;      
  }
  
div.ContentContainer {
  margin-bottom: 24px;
  margin-top: 24px;
  text-align: center;  
}

div.Container {
    margin-top: 10em;
    height: 10em;
    padding: 20px;
}

div.ChildContainer {
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 40%;
    left: 50%;
    width: 300px;
    max-width: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0.5rem 0.5rem #5254c4, -0.5rem -0.5rem #7b7dff;
  }
  
 button.Logout {
   background-color: transparent;
   color: red;
   padding: 0;
   margin: 0;
   box-shadow: none;
   text-align: right;
   text-transform: none;
 }

 button.Link {
  background-color: transparent;
  color: #4b4dd1;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-align: center;
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
}

  p.ErrorText {
    color: red;
    text-align: left;
    margin: 0px;
  }
  

 .FormContainer {
   margin-bottom: 12px;
   text-align: left;
 }
